<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles/home.css">
    <script type="text/javascript" src="/builds/home-bundle.js"></script>
  </head>
  <body>
    <div>A sample express app...</div>
    <div>Inspect element to see static contents like <span class="redText">css</span> and <span class="redText">js</span></div>
  </body>
</html>
